nav ul {
    list-style: none;
    font-size: 20px;
    overflow: hidden;
    
  }


  nav ul li a {

    text-decoration: none;
  }

 #navbar {
  overflow: hidden;
    width: 18%;
    height: 100%;
    position: fixed;
    border: 3px solid black;
    border-radius: 8px;
    background-color: white;

  }
  

  .container{
    width: 80%;
    height: auto;
    position: absolute;
    right: 0;
  }

  .heading{
   background-color: black;
   color: white;
  }

  /* day 3 css */
  @media only screen and(max-width:500px){
    .content {
            color: red;
           width: 100%;
           height: 10%;
           border: 3px solid black;
           border-radius: 8px;
           background-color: white;
           
    }
  }
#navbar ul li a{
margin: auto;
}

  #navbar li a{
    background-color: black;
    color: white;
    /* margin: 30px; */
    border: 2px solid white;
    border-radius: 20px;
    font-size: 18px;
  }
  #navbar li a:hover{
      background-color: white;
      color: black;

      margin: 30px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 18px;
  }